Babel==2.6.0
certifi==2018.11.29
chardet==3.0.4
debtcollector==1.20.0
decorator==4.3.2
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.20.0
funcsigs==1.0.2
greenlet==0.4.15
idna==2.8
msgpack-python==0.5.6
netaddr==0.7.19
networkx==2.2
oslo.config==6.8.0
oslo.i18n==3.23.0
ovs==2.10.0
pbr==5.1.2
pytz==2018.9
PyYAML==3.13
repoze.lru==0.7
requests==2.21.0
rfc3986==1.2.0
Routes==2.4.1
-e git+git@github.com:fr6nco/ryu.git@cf731e9323fdafd0fca673444ad211851e49bc16#egg=ryu
six==1.12.0
sortedcontainers==2.1.0
stevedore==1.30.0
tinyrpc==0.9.4
urllib3==1.24.1
WebOb==1.8.5
wrapt==1.11.1
